.save{
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    font-weight: 500 !important;
    cursor: pointer;
    background-color: hsl( 227.37deg 12.26% 30.39% );
    color: white;
    padding: 12px 16px;
    margin: 1px 10px 1px 0;
    border-radius: 4px;
    border: 3px solid transparent;
}